<!DOCTYPE html>
<html>
    <head>
        <title>Meal Post</title>
        <link rel="stylesheet" href="/css/styleJames.css"> 
    </head>

    <body>
        <div id="header">
            <a class="title" href="/dashboard"><h2>Progress</h2></a>

            <div id="menu">

                <div class="hamburger">
                    <button class="ham-button"></button>
                    <div class="drop-cont">
                        <a href="#">Questions</a>
                        <a href="/partner/partnerRequests">Partner Requests</a>
                        <a href="#">Find a Trainer</a>
                        <a href="#">Splits</a>
                        <a href="#">Gym Info</a>
                        <a href="/meal/mealPLan">Meal Plan</a>
                        <a href="#">Profile</a>
                    </div>
                </div>      
            </div>
        </div> 

        <div id="main">
            <div id="title">
                <h3>Create New Meal Plan Post</h3>
            </div>

            <div class="postForm">
                <form action="http://localhost:8080/meal/createMealPost" method="post">
                    
                    <input id="user_id" name="user_id" type="number" th:value="${currentUser.id}" hidden >

                    <br>

                    <label for="text">Content for Meal Plan </label>
                    <input id="text" type="text" name="text" placeholder="Enter Meal Plan" required/>

                    <br>

                    <input class="button" type="submit">
                </form>
        </div>
        </div>
    </body>
</html>