<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleHome.css">
    <title>Progress</title>
</head>
<body>
    <div class="page-container">
        <header>
            <a class="title" href="/progress/home"><h2>Progress</h2></a>
            <div id="menu">

                <div class="hamburger">
                    <button class="ham-button"></button>
                    <div class="drop-cont">
                        <a href="user_info.html">Profile</a>
                    </div>
                </div>      
            </div>
        </header>

        <main>
            <div class="forum-title">
                <h2>Dashboard</h2><hr>
            </div>

            <div class="wrapper">
                <div class="forum-card-container">
                    <div class="forum-card">
                        <a href="questions.html"><span></span></a>
                        <div class="banner"><img src="/img/placeholder.png" alt="placeholder"></div>
                        <div class="content">Questions</div>
                    </div>
                    <div class="forum-card">
                        <a href="/progress/partnerRequests"><span></span></a>
                        <div class="banner"><img src="/img/placeholder.png" alt="placeholder"></div>
                        <div class="content">Partner Requests</div>
                    </div>
                    <div class="forum-card">
                        <a href="trainers.html"><span></span></a>
                        <div class="banner"><img src="/img/placeholder.png" alt="placeholder"></div>
                        <div class="content">Find a Trainer</div>
                    </div>
                    <div class="forum-card">
                        <a href="splits.html"><span></span></a>
                        <div class="banner"><img src="/img/placeholder.png" alt="placeholder"></div>
                        <div class="content">Splits</div>
                    </div>
                    <div class="forum-card">
                        <a href="gym_info.html"><span></span></a>
                        <div class="banner"><img src="/img/placeholder.png" alt="placeholder"></div>
                        <div class="content">Gym Info</div>
                    </div>
                    <div class="forum-card">
                        <a href="/progress/mealPlan"><span></span></a>
                        <div class="banner"><img src="/img/placeholder.png" alt="placeholder"></div>
                        <div class="content">Meal Plan</div>
                    </div>
                </div>
            </div>
        </main>
    
        <footer>
            <p class="copyright"> Team TBA | Copyright 2023 </p>
        </footer>
    </div>
    

</body>
</html>