<!DOCTYPE html>
<html>
    <head>
        <title>Meal Post</title>
        <link rel="stylesheet" href="/css/style.css"> 
    </head>

    <body>
        <div id="header">
            <a class="title" href="/progress/home"><h2>Progress</h2></a>

            <div id="menu">

                <div class="hamburger">
                    <button class="ham-button"></button>
                    <div class="drop-cont">
                        <a href="#">Questions</a>
                        <a href="/progress/partnerRequests">Partner Requests</a>
                        <a href="#">Find a Trainer</a>
                        <a href="#">Splits</a>
                        <a href="#">Gym Info</a>
                        <a href="/progress/mealPLan">Meal Plan</a>
                        <a href="#">Profile</a>
                    </div>
                </div>      
            </div>
        </div> 

        <div id="main">
            <div id="title">
                <h3>Create Post</h3>
            </div>

            <div class="postForm">
                <form>
                    <h4>Create New Meal Plan Post</h4>
                    
                    <br>

                    <label for="content">Content for Post</label>
                    <input id="content" type="text" name="content"/>

                    <br>

                    <input class="button" type="submit">

                    
                </form>
        </div>
        </div>
    </body>
</html>