<!DOCTYPE html>
<html>
    <head>
        <title>Partner Requests</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div id="header">
            <a class="title" href="/progress/home"><h2>Progress</h2></a>

            <div id="menu">

                <div class="hamburger">
                    <button class="ham-button"></button>
                    <div class="drop-cont">
                        <a href="#">Questions</a>
                        <a href="#">Partner Requests</a>
                        <a href="#">Find a Trainer</a>
                        <a href="#">Splits</a>
                        <a href="#">Gym Info</a>
                        <a href="/progress/mealPlan">Meal Plan</a>
                        <a href="#">Profile</a>
                    </div>
                </div>      
            </div>
        </div> 

        <div id="main">
            <div id="title">
                <h3>Partner Requests</h3>
                <a href="/progress/partnerPost"><button class="post-But">New post</button></a>
            </div>

            <div class="post beginner" th:each="partner : ${requests}">
                <div>
                    <!-- <h4 th:text=" 'id' + ${partner.id}"></h4> -->
                    <!-- <h5 th:text=" 'user_id' + ${partner.user_id}"></h5> -->
                    
                </div>
                
                <p th:text="${partner.text}" />
                <form>
                    <input type="submit" value="Message" class="button">
                </form>
            </div>

        </div>

        
    </body>
</html>