<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec ="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Progress</title>
</head>
<body>
    <div class="page-container">
        <header>
            <h1><a th:href="@{/dashboard}">Progress</a></h1>
            <div id="menu">
                <div class="hamburger">
                    <button class="ham-button"></button>
                    <div class="drop-cont">
                        <a href="/questions/all">Questions</a>
                        <a href="/partner/partnerRequests" th:unless="${currentUser.fitnessLevel ==  4}">Partner Requests</a>
                        <a href="/trainers/all"sec:authorize="hasRole('NO_TRAINER')">Find a Trainer</a>
                        <a href="/trainers/all"sec:authorize="hasAnyRole('TRAINER', 'OWNER')">Trainer Ads</a>
                        <a th:href="@{/trainer-vids/all/id={id}(id=${currentUser?.trainerId})}" sec:authorize="hasRole('HAS_TRAINER')">Training Videos</a>
                        <a th:href="@{/trainer-vids/all/id={id}(id=${currentUser?.id})}" sec:authorize="hasRole('TRAINER')">Training Videos</a>
                        <a href="/splits/all">Splits</a>
                        <a href="/info/all">Gym Info</a>
                        <a href="/meal/mealPlan">Meal Plan</a>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign Out"/>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="forum-title">
                <h2>Available Trainers </a><span sec:authorize="hasRole('TRAINER')"> &nbsp;|&nbsp; <a href="/trainers/new-ad">New Post</a></span></h2><hr>
                
            </div>

            <div class="wrapper">
                <div class="post-container">
                    <div class="post-card" th:each="ad : ${adList}" th:if="${currentUser.fitnessLevel == ad.fitnessLevel || currentUser.fitnessLevel ge 4}">
                        <!-- <div class="user">
                            <img th:src="@{/images/user_blank.png}" alt="placeholder">
                            <a href="#"><span></span></a>
                        </div> -->
                        <div class="content" style="width: 100%; margin-left: 0;">
                            <a href="#" th:text="${ad.trainer.username}"--></a></a>
                            <span th:if="${ad.fitnessLevel == 1}">&nbsp;|&nbsp; Beginner</span>
                            <span th:if="${ad.fitnessLevel == 2}">&nbsp;|&nbsp; Intermediate</span>
                            <span th:if="${ad.fitnessLevel == 3}">&nbsp;|&nbsp; Advanced</span>
                            
                            <br><hr>
                            <p th:text="${ad.text}"></p>
                            <a th:href="@{/trainers/id={id}(id=${ad.adId})}"><span></span></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>
    
        <footer>
            <p class="copyright"> Team TBA | Copyright 2023 </p>
        </footer>
    </div>
    

</body>
</html>