<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/stylecheck.css}"> 
</head>

    <body>
        <div id="header">
            <h2><a href="#">Progress</a></h2>

            <div id="menu">
                <div class="hamburger">
                    <button class="ham-button"></button>
                    <div class="drop-cont">
                        <a href="#">Questions</a>
                        <a href="#">Partner Requests</a>
                        <a href="#">Find a Trainer</a>
                        <a href="#">Splits</a>
                        <a href="#">Gym Info</a>
                        <a href="#">Meal Plan</a>
                        <a href="#">Profile</a>
                    </div>
                </div>   
            </div>
        </div> 

        <div id="main">
            <div id="title">
                <h3><a href="#" th:text="${ad.trainer.username}"></a></h3>   
                <a th:href="@{/trainers/all}"><button class="post-But">Return</button></a>
            </div>

            <div class="post" style="padding: 20px;">
                <div class="row" th:text="${ad.text}" style="background-color: white; font-size: 14pt; padding: 10px; border-bottom:3px solid #a11b14;"></div>
            </div><br>
            
            <div class="post" style="padding: 20px;">
                <form action="/trainers/all">
        
                    <div class="row">
                      <div class="col-25">
                        <label for="Response"> <b> Would you like to reply to this trainer?<hr></b></label>
                      </div>
                      <div class="col-75">
                        <textarea id="subject"  rows="2" cols="160" name="response" placeholder="Write something.." style="height:200px; border-bottom:3px solid #a11b14;"></textarea>
                      </div>
                    </div>
                    <br>                    
                    <input type="submit" value="Submit">
                   
                    </form>
            </div><br><br>

        </div>

    </body>
</html>