<!DOCTYPE html>
<html>
    <head>
        <title>Question</title>
        <link rel="stylesheet" href="/css/styleJames.css">
    </head>

    <body>
        <div id="header">
            <h2><a class="title" href="/dashboard">Progress</a></h2>

            <div id="menu">
                <div class="hamburger">
                    <button class="ham-button"></button>
                    <div class="drop-cont">
                        <a href="#">Questions</a>
                        <a href="/partner/partnerRequests">Partner Requests</a>
                        <a href="#">Find a Trainer</a>
                        <a href="#">Splits</a>
                        <a href="#">Gym Info</a>
                        <a href="/meal/mealPlan">Meal Plan</a>
                        <a href="#">Profile</a>
                    </div>
                </div>   
            </div>
        </div> 

        <div id="main">
            <div id="title">
                <h3>Message</h3>   
            </div>

            <div class="post beginner">
                <div>
                    <h4 th:text="${request.user.username}"></h4>
                    <h5 th:text="${request.user.fitnessLevel}"></h5>
                </div>
                
                <p th:text="${request.text}"></p>
               
            </div> 
            
            <div id="title">
                <h3>Replies:</h3>
            </div>

            <!-- messages displayed here for the request-->
            <div class="post" th:each="message : ${messages}"> 
                <div>
                    <h4 th:text="${message.user.username}"></h4>
                </div>
                 
                <p th:text="${message.text}"></p>
               
            </div>

            <div> <!-- form for new message to be added -->
                
                <form action="/partner/createNewMessage" method="post" class="container">
                    <input id="response_user_id" name="response_user_id" type="number" th:value="${currentUser.id}" hidden >
                    <input id="requestid" name="requestid" type="number" th:value="${request.id}" hidden >
                    <input type="text" class="newMessage" id="text" name="text" placeholder="Enter your message here...">
                    <br>
                    <input type="submit" class="post-but">
                </form>
            </div>

        </div>

    </body>
</html>